<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.invoicing.dao.VendMapper">

    <select id="selectById" resultType="Vend" >
        SELECT *
        from vend
        WHERE vend_id = #{vendId}
    </select>

    <select id="selectRecent" resultType="Vend" >
        SELECT *
        FROM vend
        ORDER BY vend_id DESC LIMIT 1;
    </select>

    <insert id="insertVend" parameterType="Vend" keyProperty="vendId">
        insert into vend(vend_time, vend_cost)
        values (#{vendTime}, #{vendCost})
    </insert>

</mapper>